@model UnidadesMedidasModel;

@{
    ViewData["Title"] = "Listagem de Unidades";
}

<h2>Unidades - Listagem</h2>

<form>

    <div class="well well-sm custom-control custom-radio col-lg-12">

        <div class="form-group col-lg-9">
            <input id="Filtro" value="" class="form-control" placeholder="Digite Produto ou Parte Dele" />
        </div>

        <div class="form-group col-lg-1">
            <button type="button" class="btn btn-block btn-success" onclick="Filtrar()">Filtrar</button>
        </div>

        <div class="form-group col-lg-2">
            <button type="button" class="btn btn-block btn-primary" onclick="Novo()">Nova Unidade</button>
        </div>

    </div>

    <table class="table table-bordered" id="Tab">

        <thead>
            <tr>
                <th class="col-lg-1">Id</th>
                <th class="col-lg-5">Descrição</th>
                <th class="col-lg-1">Sigla</th>              
                <th class="col-lg-1">#</th>
                <th class="col-lg-1">#</th>
            </tr>
        </thead>

        <tbody id="tbUnidade">

            @{
                foreach (var item in (List<UnidadesMedidasModel>)ViewBag.Unidades)
                {
                        <tr>
                            <td class="col-lg-1">@item.id</td>
                            <td class="col-lg-5">@item.descricao</td>
                            <td class="col-lg-2">@item.sigla</td>                           
                            <td class="col-lg-1"><button type="button" class="btn btn-info" onclick="Detalhes();">Detalhes</button></td>
                            <td class="col-lg-1"><button type="button" class="btn btn-danger" onclick="Excluir();">Excluir</button></td>
                        </tr>
                }
            }

        </tbody>

    </table>

    <div class="row">
        <div class="form-horizontal">
            <button type="button" class="btn  btn-danger btn-block " onclick="Retornar();">
                Voltar
            </button>
        </div>
    </div>

</form>

<script>

    function Novo() {
        window.location.href = "/Tabelas/IncluirUnidade/";
    }

    function Detalhes(){
        $("tr").click(function () {
            var ID = $(this).find("td:eq(0)").text();               // ID Tabela Grupos
            window.location.href = "/Tabelas/DetalhesUnidade2/" + ID;
        })
    }

    function Excluir() {

        if (confirm("Confirma a Exclusão")) {

            $("tr").click(function () {

                var ID = $(this).find("td:eq(0)").text();               // ID Tabela Grupos

                $.ajax({
                    type: "POST",
                    url: "/Tabelas/ExcluirUnidade",
                    data: { id: ID },
                    processData: true,
                    dataType: 'json',
                    success:
                        function (lista) {
                            lista = lista.replace(/"/g, '');
                            tbUnidade.innerHTML = lista;
                            Limpa();
                            return true;

                        },
                    error: function (data) {
                        alert("Erro... Verifique Com Suporte");
                        return false;
                    },
                });
            })
        }
    }





    function Retornar() {
        window.location.href = "/Home/Index";
    }

</script>